body {
    background-color: rgba(0, 0, 255, 0.555);
 }
 
 #calc-display {
    font-size: 4.2vw;
    background-color: #a9aabb;
    color: #212125;
    margin: 5px;
    text-align: right;
 }
 
 #calculator {
    position: absolute;
    left: 38%;
    top: 15%;
    background-color: black;
    border-radius: 8px;
    
 }
 
 .calc-keys {
    display: grid;
    margin: 6px 6px;
    grid-template-columns: 5vw 5vw 5vw 5vw;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw;
    grid-gap: 2px;
 }
 
 .calc-keys button {
    font-size: 4vw;
    font-weight: bold;
    color: #75d4fd;
    border-radius: 7px;
 }
 
 .number {
    background-color: black;
 }
 
 .equals {
    grid-row: span 2;
    background-color: yellow;
 }
 
 .zero {
    background-color: black;
    grid-column: span 2;
 }
 
 .decimal {
    background-color: black;
 
 }
 
 .plus {
    background-color: yellow;
    grid-row: span 2;
 }
 
 .operator {
    background-color: yellow;
 }
 
 .all-clear {
    background-color: purple;
 }
 
 :focus {
    outline: none;
 }